In [1]:
import pandas as pd
import numpy as np

In [2]:
#create a dataframe
data = pd.DataFrame({'region': ['east', 'west', 'north', 'south'],
                     'gdp': [2000, 3245, 3421, 2099]})
data['gdp']

0    2000
1    3245
2    3421
3    2099
Name: gdp, dtype: int64

In [3]:
data.columns

Index(['region', 'gdp'], dtype='object')

In [4]:
data.iloc(0)

In [5]:
for x in data.iloc(0):
    print(x)

region    east
gdp       2000
Name: 0, dtype: object
region    west
gdp       3245
Name: 1, dtype: object
region    north
gdp        3421
Name: 2, dtype: object
region    south
gdp        2099
Name: 3, dtype: object

In [6]:
data['gdp'] = 2 * data['gdp']

In [7]:
data['gdp']

0    4000
1    6490
2    6842
3    4198
Name: gdp, dtype: int64

In [ ]:
# sorting on a Dataframe
data.sort_values(by='gdp', ascending=False)

In [ ]:
gdp = data.gdp.iloc[:]
gdp

In [ ]:
np.average(gdp, axis=0)

In [ ]:
gdp = data.gdp.iloc[:]
gdp

In [ ]:
np.average(gdp, axis=0)

  region   gdp
2  north  6842
1   west  6490
3  south  4198
0   east  4000

In [13]:
gdp = data.gdp.iloc[:]
gdp

0    4000
1    6490
2    6842
3    4198
Name: gdp, dtype: int64

In [16]:
np.average(gdp, axis=0)

5382.5