In [1]:
import numpy as np
import pandas as pd

pd.show_versions()

/usr/local/Cellar/python@3.8/3.8.12/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/_distutils_hack/__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit           : 87cfe4e38bafe7300a6003a1d18bd80f3f77c763
python           : 3.8.12.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
Version          : Darwin Kernel Version 18.7.0: Tue Jun 22 19:37:08 PDT 2021; root:xnu-4903.278.70~1/RELEASE_X86_64
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.5.0
numpy            : 1.23.3
pytz             : 2022.1
dateutil         : 2.8.1
setuptools       : 60.10.0
pip              : 22.2.2
Cython           : 0.29.28
pytest           : 6.0.1
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : 1.3.3
lxml.etree       : 4.5.2
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 7.17.0
pandas_datareader: 0.9.0
bs4              : 4.9.1
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : 2022.3.0
gcsfs            : None
matplotlib       : 3.3.4
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : 8.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.8.0
snappy           : None
sqlalchemy       : 1.4.39
tables           : None
tabulate         : 0.8.7
xarray           : None
xlrd             : None
xlwt             : None
zstandard        : None
tzdata           : 2022.1

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  2.265033  1.230602 -0.435806 -0.671681
2013-01-02 -1.749171  0.548233  0.556945  0.559967
2013-01-03  0.229300 -0.507930 -0.614310 -0.843228
2013-01-04 -0.810675  2.807754 -0.018363  1.027258
2013-01-05 -1.463562  0.397778  0.655224 -0.420793
2013-01-06  1.694535  1.008690  0.165012  1.699343

In [5]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'}) 
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [8]:
df.head()

                   A         B         C         D
2013-01-01  2.265033  1.230602 -0.435806 -0.671681
2013-01-02 -1.749171  0.548233  0.556945  0.559967
2013-01-03  0.229300 -0.507930 -0.614310 -0.843228
2013-01-04 -0.810675  2.807754 -0.018363  1.027258
2013-01-05 -1.463562  0.397778  0.655224 -0.420793

In [9]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.810675  2.807754 -0.018363  1.027258
2013-01-05 -1.463562  0.397778  0.655224 -0.420793
2013-01-06  1.694535  1.008690  0.165012  1.699343

In [10]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.to_numpy()

array([[ 2.26503263,  1.23060209, -0.43580612, -0.67168082],
       [-1.74917129,  0.54823268,  0.55694529,  0.55996688],
       [ 0.22930048, -0.50793038, -0.61431006, -0.84322815],
       [-0.81067502,  2.80775389, -0.01836292,  1.02725805],
       [-1.463562  ,  0.39777778,  0.6552238 , -0.4207929 ],
       [ 1.69453451,  1.00869044,  0.16501239,  1.69934322]])

In [13]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [14]:
# create a dataframe with geo-numeric data
data = pd.DataFrame({'region': ['east', 'west', 'north', 'south'],
                     'gdp': [2000, 3245, 3421, 2099]})
data['gdp']

0    2000
1    3245
2    3421
3    2099
Name: gdp, dtype: int64

In [15]:
data.columns

Index(['region', 'gdp'], dtype='object')

In [16]:
data.iloc(0)

In [17]:
for x in data.iloc[0]:
    print(x)

east
2000

In [18]:
data['gdp'] = 2 * data['gdp']

In [19]:
data['gdp']

0    4000
1    6490
2    6842
3    4198
Name: gdp, dtype: int64

In [20]:
# sorting on a Dataframe
data.sort_values(by='gdp', ascending=False)

  region   gdp
2  north  6842
1   west  6490
3  south  4198
0   east  4000

In [21]:
gdp = data.gdp.iloc[:]
gdp

0    4000
1    6490
2    6842
3    4198
Name: gdp, dtype: int64

In [22]:
np.average(gdp, axis=0)

5382.5