In [2]:
import numpy as np
import pandas as pd

pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 0f437949513225922d851e9581723d82120684a6
python           : 3.8.10.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 18.7.0
Version          : Darwin Kernel Version 18.7.0: Tue Jun 22 19:37:08 PDT 2021; root:xnu-4903.278.70~1/RELEASE_X86_64
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 2.0.3
numpy            : 1.24.4
pytz             : 2023.3
dateutil         : 2.8.2
setuptools       : 56.0.0
pip              : 23.3.2
Cython           : None
pytest           : 6.0.1
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.1.2
IPython          : 8.12.2
pandas_datareader: None
bs4              : 4.12.2
bottleneck       : None
brotli           : None
fastparquet      : None
fsspec           : 2023.9.0
gcsfs            : None
matplotlib       : 3.7.2
numba            : None
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : 13.0.0
pyreadstat       : None
pyxlsb           : None
s3fs             : None
scipy            : 1.10.1
snappy           : None
sqlalchemy       : 2.0.22
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
zstandard        : None
tzdata           : 2023.3
qtpy             : None
pyqt5            : None

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.734498  1.022935 -0.148228  1.517860
2013-01-02 -0.908487  0.628210  0.281358  0.271480
2013-01-03 -0.302317 -0.034884 -0.070532  0.110890
2013-01-04  1.296394 -0.209421  0.777695  0.601741
2013-01-05 -0.317041  0.808983  0.907959 -0.535079
2013-01-06 -1.423934  0.922163 -0.451094  0.491976

In [6]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'}) 
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [9]:
df.head()

                   A         B         C         D
2013-01-01  0.734498  1.022935 -0.148228  1.517860
2013-01-02 -0.908487  0.628210  0.281358  0.271480
2013-01-03 -0.302317 -0.034884 -0.070532  0.110890
2013-01-04  1.296394 -0.209421  0.777695  0.601741
2013-01-05 -0.317041  0.808983  0.907959 -0.535079

In [10]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.296394 -0.209421  0.777695  0.601741
2013-01-05 -0.317041  0.808983  0.907959 -0.535079
2013-01-06 -1.423934  0.922163 -0.451094  0.491976

In [11]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [16]:
4+5

9

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.to_numpy()

array([[ 0.73449769,  1.02293474, -0.14822751,  1.5178604 ],
       [-0.90848684,  0.62821005,  0.28135839,  0.27148006],
       [-0.30231733, -0.03488413, -0.07053165,  0.11088974],
       [ 1.2963942 , -0.20942099,  0.77769531,  0.60174126],
       [-0.31704121,  0.80898269,  0.90795895, -0.53507866],
       [-1.42393426,  0.9221627 , -0.45109447,  0.49197605]])

In [14]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [14]:
# create a dataframe with geo-numeric data
data = pd.DataFrame({'region': ['east', 'west', 'north', 'south'],
                     'gdp': [2000, 3245, 3421, 2099]})
data['gdp']

0    2000
1    3245
2    3421
3    2099
Name: gdp, dtype: int64

In [15]:
data.columns

Index(['region', 'gdp'], dtype='object')

In [16]:
data.iloc(0)

In [17]:
for x in data.iloc[0]:
    print(x)

east
2000

In [18]:
data['gdp'] = 2 * data['gdp']

In [19]:
data['gdp']

0    4000
1    6490
2    6842
3    4198
Name: gdp, dtype: int64

In [20]:
# sorting on a Dataframe
data.sort_values(by='gdp', ascending=False)

  region   gdp
2  north  6842
1   west  6490
3  south  4198
0   east  4000

In [21]:
gdp = data.gdp.iloc[:]
gdp

0    4000
1    6490
2    6842
3    4198
Name: gdp, dtype: int64

In [22]:
np.average(gdp, axis=0)

5382.5